@{
    ViewData["Title"] = "Home Page TI44";
}

<div class="text-center">
    <h1 class="display-4">SEJA BEM VINDO</h1>
    <h1>Consultório Médico - TI44</h1>
    <img src="~/imagens/consultorio.jpeg"  width="800px" />
 
</div>
